*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f0f0f0;
    font-family: "JetBrains Mono Thin"
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #333333;
}

textarea {
    width: 100%;
    max-width: 600px;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea::placeholder {
    color: #999;
}

#charCount {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
